* {
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.top-picture {
  background: url(./zaocateringpicture2.jpg);
  height: 600px;
  background-attachment: fixed;
  background-position: 50% 65%;
  background-repeat: no-repeat;
  background-size: cover;
}

.we-deliver {
  display: grid;
  grid-template-columns: 400px 400px;
  height: 170px;
  justify-content: center;
}

.deliver-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px 0 0;
  text-align: center;
}

.deliver-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 0 20px;
  text-align: center;
}

.delivery-title {
  display: flex;
  align-items: center;
  color: #8dc63f;
}

h2 {
  padding: 0 5px 0 5px;
}

.beginning-catering-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
}

.order-online-catering {
  display: flex;
  width: 300px;
  height: 50px;
  justify-content: center;
  background-color: #8dc63f;
  border: none;
}

.catering-email {
  color: #8dc63f;
  text-decoration: #8dc63f;
}

.catering-button {
  margin-top: 50px;
  margin-bottom: 10px;
}

.catering-body {
  align-items: center;
  margin: 0 50px 0 50px;
}

.email-wrapper {
  display: inline-block;
  margin-left: 5px;
  border: 2px solid #8dc63f;
}

.catering-incoming {
  margin-bottom: 50px;
}

.catering-menu-picture {
  height: auto;
  max-width: 100%;
}
.catering-contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;

  /* align-content: center; */
  width: 100%;
  height: auto;
  margin: 50px 0 50px 0;
}

.catering-contacts {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.catering-contacts2 {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 50px 0 50px 0;
}
.catering-contacts3 {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.catering-contact {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
}

.catering-contact span a {
  color: #8dc63f;
  font-size: 0.8em;
}
