body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
}

.background-image {
  background: url(./LocationsHeader-Trimmed.jpg);
  height: 650px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
