@media (max-width: 905px) {
  .nav-bar {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .left-side {
    display: flex;
    justify-content: center;
  }
  .logo-image {
    height: 80px;
    max-width: 100%;
    margin: 0;
  }
  .right-side {
    display: flex;
    flex-direction: column;
  }

  icon {
    display: flex;
    flex-direction: row;
  }

  .footer {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .order-page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .we-deliver {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 15px;
  }

  .order-online-nav {
    width: 230px;
    margin: 0;
    padding: 0;
  }

  .background-image {
    background: url(./LocationsHeader-Trimmed.jpg);
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .top-picture {
    background: url(./Zao_Bowls_Broccoli.jpg);
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .contact-links {
    margin-bottom: 15px;
  }
  .menu-button {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .top-two-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
  .bottom-three-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }

  .start-with-image {
    height: auto;
    width: 200%;
  }

  .second-image-section-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .third-image-section-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .bowls-base {
    display: flex;
    flex-direction: column;
  }
  .start-with-image-bowls {
    height: auto;
    width: 130%;
  }
  .third-image-section-wrapper-bowls {
    display: flex;
    flex-direction: column;

    width: 100%;
  }
  .third-line-image-bowls img {
    height: auto;
    width: 75%;
  }
  .bowls-sauce {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  .first-two-toppings-bowls {
    display: flex;
    flex-direction: column;
  }
  .salad-sauce {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  .start-with-image-salad2 img {
    height: auto;
    width: 100%;
  }

  .start-with-image-soup img {
    height: auto;
    width: 100%;
  }
}

@media (max-width: 400px) {
  .menu-header {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: #f6f6f6;
    height: 180px;
    justify-content: center;
    letter-spacing: 5px;
    font-size: 1.5em;
    width: 100%;
  }

  .cover-letters-menu {
    padding-bottom: 60px;
  }

  .order-page-right h3 {
    width: 200px;
  }
  .order-page-left h3 {
    width: 200px;
  }
  .start-with-image img {
    width: 220px;
  }
  .start-with-image {
    width: 220px;
  }
}
