@media (max-width: 905px) {
  .nav-bar {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .left-side {
    display: flex;
    justify-content: center;
  }
  .logo-image {
    height: 80px;
    max-width: 100%;
    margin: 0;
  }
  .right-side {
    display: flex;
    flex-direction: column;
  }

  icon {
    display: flex;
    flex-direction: row;
  }

  .footer {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .order-page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .we-deliver {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 15px;
  }

  .order-online-nav {
    width: 230px;
    margin: 0;
    padding: 0;
  }

  .background-image {
    background: url(./LocationsHeader-Trimmed.jpg);
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .top-picture {
    background: url(./zaocateringpicture2.jpg);
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .catering-image {
    height: auto;
    width: 60%;
  }
  .contact-links {
    margin-bottom: 15px;
  }
  .catering-contacts2 {
    margin: 10px 0 10px 0;
  }
  .menu-button {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .top-two-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
  .bottom-three-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }

  .start-with-image {
    height: auto;
    width: 100%;
  }

  .start-with-image img {
    height: auto;
    width: 80%;
  }

  .start-with-image-banhmi {
    height: auto;
    width: 100%;
  }
  .start-with-image-banhmi img {
    height: auto;
    width: 60%;
  }

  .second-image-section-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .third-image-section-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .bowls-base {
    display: flex;
    flex-direction: column;
  }
  .start-with-image-bowls {
    height: auto;
    width: 100%;
  }
  .third-image-section-wrapper-bowls {
    display: flex;
    flex-direction: column;

    width: 100%;
  }
  .third-line-image-bowls img {
    height: auto;
    width: 75%;
  }
  .bowls-sauce {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  .first-two-toppings-bowls {
    display: flex;
    flex-direction: column;
  }
  .salad-sauce {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  .start-with-image-salad2 img {
    height: auto;
    width: 100%;
  }

  .start-with-image-soup img {
    height: auto;
    width: 100%;
  }
  .catering-contact-container {
    display: flex;
    flex-direction: column;
  }

  .catering-contacts {
    display: flex;
    flex-direction: column;
  }
  .catering-contacts2 {
    display: flex;
    flex-direction: column;
  }
  .catering-contacts3 {
    display: flex;
    flex-direction: column;
  }
  .catering-body h1 {
    font-size: 1.7em;
  }
  .top-two-buttons .menu-button-rice {
    width: 100%;
  }
  .top-two-buttons .menu-button img {
    width: 100%;
  }
  .location-wrapper {
    display: flex;
    flex-direction: column;
  }
  .location-details {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .phone a {
    color: #8dc63f;
    text-align: center;
  }
  .reviews a {
    color: #8dc63f;
    text-align: center;
    margin-bottom: 10px;
  }
  .cover-letters-locations {
    margin-bottom: 40px;
  }
  .contact-content {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }

  .contact-image {
    width: 150%;
    height: auto;
    margin-right: 0;
  }

  .email-wrapper-contact {
    display: inline-block;
    border: 2px solid #8dc63f;
    margin-bottom: 20px;
  }
  .sponsorships-and-donations {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .fiveyearpicture {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .fiveyearpicture img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 400px) {
  .menu-header {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: #f6f6f6;
    height: 180px;
    justify-content: center;
    letter-spacing: 5px;
    font-size: 1.5em;
    width: 100%;
  }
  .menu-button-wrapper {
    width: 100%;
  }
  .cover-letters-menu {
    padding-bottom: 60px;
    width: 80%;
    text-align: center;
    padding-left: 30px;
  }

  .order-page-right h3 {
    width: 200px;
  }
  .order-page-left h3 {
    width: 200px;
  }
  .start-with-image img {
    width: 220px;
  }
  .start-with-image {
    width: 220px;
  }
  .catering-contact-container {
    display: flex;
    flex-direction: column;
  }

  .catering-contacts {
    display: flex;
    flex-direction: column;
  }
  .catering-contacts2 {
    display: flex;
    flex-direction: column;
  }
  .catering-contacts3 {
    display: flex;
    flex-direction: column;
  }
  .catering-body h1 {
    font-size: 1.7em;
  }
  .email-wrapper-contact {
    display: inline-block;
    border: 2px solid #8dc63f;
  }
  .fiveyearpicture {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .fiveyearpicture img {
    width: 100%;
    height: 100%;
  }
}
