@media (max-width: 905px) {
  .nav-bar {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .left-side {
    display: flex;
    justify-content: center;
  }
  .logo-image {
    height: 80px;
    max-width: 100%;
    margin: 0;
  }
  .right-side {
    display: flex;
    flex-direction: column;
  }

  icon {
    display: flex;
    flex-direction: row;
  }

  .footer {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .order-page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .we-deliver {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 15px;
  }

  .order-online-nav {
    width: 230px;
    margin: 0;
    padding: 0;
  }

  .background-image {
    background: url(./LocationsHeader-Trimmed.jpg);
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .top-picture {
    background: url(./Zao_Bowls_Broccoli.jpg);
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .contact-links {
    margin-bottom: 15px;
  }
}
