.menu-page-wrapper {
  background: url(./Chalkboard_Seamless.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.menu-button-wrapper {
  display: flex;
  flex-direction: column;
  margin: 10px 0px 10px 0px;
}

.top-two-buttons .menu-button-rice {
  width: 450px;
  /* height: auto; */
  margin: -49px 0 -15px 0;
}

.cover-letters-menu {
  height: 10px;
  font-size: 2em;
  color: #8dc63f;
  /* position: absolute; */
  text-align: center;
  width: 100%;
  font-weight: 600;
  margin-bottom: 90px;
}

.cover-letters-menu-items {
  font-size: 1.3em;
  color: #8dc63f;
  /* position: absolute; */
  /* text-align: center; */
  /* width: 100%; */
  font-weight: 400;
}

.top-two-buttons {
  display: flex;
  /* height: 200px;
  max-width: 100%; */
  justify-content: center;
  align-items: center;
  /* margin: 30px 0px 0px 0px; */
}

.top-two-buttons img {
  height: auto;
  width: 350px;
}

.bottom-three-buttons {
  display: flex;
  /* height: 200px;
  max-width: 100%; */
  justify-content: center;
  align-items: center;
  margin: 0px 0px 30px 0px;
}

.bottom-three-buttons img {
  height: auto;
  width: 300px;
}

.menu-header {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: #f6f6f6;
  height: 150px;
  justify-content: center;
  letter-spacing: 5px;
  font-size: 1.5em;
  width: 100%;
}

.power-of {
  font-weight: 600;
}

.customize-your {
  font-weight: 500;
}
span {
  font-weight: 600;
  font-size: 1.6em;
}
